@use "./numberTracker";
@use "./dicePresetManager";
@use "./combatManager";
@use "./windowManager";
@use "./windowResizer";

span.inline-check {
  background: var(--content-link-background);
  border: 1px solid var(--content-link-border-color);
  border-radius: 2px;
  box-sizing: border-box;
  color: var(--content-link-text-color);
  /* padding: 0 var(--space-4); */
  padding: 0;
  white-space: nowrap;
  word-break: break-all;
}

span.sf2e-activate-scene {
  background: var(--content-link-background);
  border: 1px solid var(--content-link-border-color);
  border-radius: 2px;
  box-sizing: border-box;
  color: var(--content-link-text-color);
  padding-left: var(--space-4);
  white-space: nowrap;
  word-break: break-all;
}

a.sf2e-enricher {
  background: var(--content-link-background);
  border: 1px solid var(--content-link-border-color);
  border-radius: 2px;
  box-sizing: border-box;
  color: var(--content-link-text-color);
  padding: 0 var(--space-4);
  white-space: nowrap;
  word-break: break-all;
}

a.sf2e-activate-scene {
  background: var(--content-link-background);
  border-left: 1px solid var(--content-link-border-color);
  box-sizing: border-box;
  color: var(--content-link-text-color);
  padding: 0 var(--space-4);
  white-space: nowrap;
  word-break: break-all;
}

a.inline-macro-execution i {
  font-size: 0.9em;
  color: var(--color-text-dark-inactive);
  margin-right: 0.25em;
}
